@import '../styles/_variables.scss';

html, body {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: url('./shared/assets/img/background/background.jpg');
  color: $color-yellow;
}

a {
  color: $color-yellow;

  &:focus {
    outline: none
  }

  &:hover, &.hover {
    color: darken($color-yellow, 10%);
  }

  &:active, &.active {
    color: darken($color-yellow, 20%);
  }
}

nav {
  vertical-align: middle;
  background-color: $color-dark;
  padding: 0.5rem;

  a {
    &.nav-brand {
      display: inline-block;
    }

    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    margin-right: 0.5rem;
  }
}

.row {
  margin-right: 0;
  margin-left: 0;
}
