@import '../styles/_variables.scss';

html, body{
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: url('./shared/assets/img/background/background.jpg');
  color: $color-yellow;
}

a.active {
  background-color: gray;
}

nav {
  height: 35px;
  line-height: 35px;
  vertical-align: middle;
  background-color: $color-dark;
}

nav a {
  color: $color-yellow;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  margin-right: 0.5rem;
}
