.error-container {
  position: relative;
  //background-image: url('../../assets/img/backgrounds/500.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-color: #454545;
  height: 100%;
}

.error-text-container {
  position: relative;
  margin: 0 auto;
  top: 25%;

  text-align: center;

  .error-text-container__header {
    margin-bottom: 3rem;
    font-weight: bold;
    font-size: 5rem;

    .error-text-container__header--sub-header {
      font-size: 3rem;
    }
  }

  .error-text-container__content {
    font-size: 2.5rem;
  }
}
