@import '../variables';

/*Loading*/
.loading-container {
  overflow: hidden;
  position: absolute;
  background: $color-dark;
  width: 100%;
  left: 0;
  bottom: 0;
  top: 0;
  height: 100%;
  opacity: 1;
  z-index: 1000;
}

.loading-container--global {
  position: fixed;
}

.loading-shape {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 256px;
  height: 256px;
  background-image: url('../../app/shared/assets/img/loaders/loading1.gif');
  background-position: center;
  background-size: contain;
}
