<div class="beer-preview-app">
  <div class="beer-preview-app__header">
    <img class="beer-preview-app__header__icon" [attr.src]="beer.labels ? beer.labels.icon : beerLogo">
    <strong class="beer-preview-app__header__title">{{ beer.name }}</strong>
  </div>
  <div class="beer-preview-app__specification">
    <div *ngIf="beer.abv">Abv: {{ beer.abv }}</div>
    <div *ngIf="beer.available">Available: {{ beer.available.description }}</div>
    <div *ngIf="beer.beerVariation"> Variation: {{ beer.beerVariation }}</div>

    <div *ngIf="beer.foodPairings">Food: {{ beer.foodPairings }}</div>

    <div *ngIf="beer.glass">Glass: {{ beer.glass | json }}</div>
    <div *ngIf="beer.ibu">IBU: {{ beer.ibu }}</div>
    <div *ngIf="beer.isOrganic">Is Organic: {{ beer.isOrganic }}</div>
    <div *ngIf="beer.originalGravity">Original gravity: {{ beer.originalGravity }}</div>
    <div *ngIf="beer.servingTemperature">Temperature: {{ beer.servingTemperature }} ({{ beer.servingTemperatureDisplay }})</div>
    <!--Style: {{ beer.style | json }}-->
  </div>
  <div class="beer-preview-app__description">
    <div class="beer-preview-app__description__header"><strong>Description</strong></div>
    <div class="beer-preview-app__description__body">{{ beer.description }}</div>
  </div>
</div>
