@import '../../styles/_variables.scss';

.slider {
  overflow: hidden;

  @keyframes slidy {
    0% {
      left: 0%;
    }
    20% {
      left: 0%;
    }
    25% {
      left: -100%;
    }
    45% {
      left: -100%;
    }
    50% {
      left: -200%;
    }
    70% {
      left: -200%;
    }
    75% {
      left: -300%;
    }
    85% {
      left: -300%;
    }
    95% {
      left: -400%;
    }
    100% {
      left: -400%;
    }
  }

  figure img {
    width: 20%;
    float: left;
  }

  figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    text-align: left;
    font-size: 0;
    animation: 30s slidy infinite alternate;
    background-color: $color-dark;
  }

}

.features {
  h1 {
    background-color: black;
    text-align: center;
    margin-bottom: 0;
    border-bottom: 1px solid $color-yellow;
  }

  .features__week {
    box-shadow: 0 0 1rem 1rem $color-yellow-lighten;

    .features__week__content {

      header {
        text-align: center;
        border-left: 1px solid $color-yellow;
        border-right: 1px solid $color-yellow;
      }

      main {
        padding-left: 0;

        .features__week__content__details__header {
          text-align: center;
          background-color: black;
          padding: 0.5rem 0;
        }

        article {
          padding-left: 0.5rem;
        }
      }
    }

    .features__week__content__footer {
      padding: 0.5rem 0;
      border-top: 1px solid $color-yellow;
    }
  }

  .features__all {
    .features__all__content {
      padding: 0.5rem;
    }
  }
}

.features__week__content {
  background-color: $color-dark;

  .features__week__content__footer {
    text-align: center;
    background-color: black;
  }
}
