<div class="features">
<featured [beer]="featuredBeer"></featured>

  <h1>Top 5 brands</h1>
  <div class="slider">
    <figure>
      <img *ngFor="let brewery of breweries" [attr.src]="brewery.images.large">
    </figure>
  </div>

  <h1>All Featured Beer</h1>
  <section class="features__all">
    <div class="features__all__content">
      <div class="row">
      <template ngFor let-beer [ngForOf]="featuresBeers">
        <beer-preview *ngIf="beer.description" class="beer-preview-app col-xs-12 col-sm-6 col-md-4 col-lg-3"
                      [beer]="beer"></beer-preview>
      </template>
      </div>
    </div>
  </section>
</div>
